.form{
    display: flex;
    justify-content:center; 
    align-items: center;
    flex-direction: column;
    color:brown;
    height: 100vh;
   

}



.btn:hover{
    background-color: blue;
}